*{
    margin: 0px;
    padding: 0px;
}



.home{
    font-size: 90px;
    color: #FD7272;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-weight: 500px;   
}

.navbar{
 text-align: center;
 margin-top: 7%;
 
}



.signup {
    height: 175px;
    width: 250px;
    background: transparent;
    background-color: transparent;
    border: 4px solid;
    text-transform: uppercase;
    font-size: 40px;
    color: #FD7272;
    font-weight: 700;
    cursor: pointer;
    margin: 75px;
  
}


.signup:before {
    content: '';
    background: black;
    position: absolute;
    width: 0%;
    top: 0;
    left: 0;
    height: 10%;
    transition: 0.3s linear;
    z-index: -1;
  }

  .signup:hover {
    background: black;
    transition: 0.6s linear;
  }

  
  .login {
    height: 175px;
    width: 250px;
    background: transparent;
    background-color: transparent;
    border: 4px solid;
    text-transform: uppercase;
    font-size: 40px;
    color: #FD7272;
    font-weight: 700;
    cursor: pointer;
    margin: 75px;
    
}


.login:before {
    content: '';
    background: black;
    position: absolute;
    width: 0%;
    top: 0;
    left: 0;
    height: 10%;
    transition: 0.6s linear;
    z-index: -1;
  }

  .login:hover {
    background: black;
    transition: 0.4s linear;
  }

  




.button{
    text-align: center;
    margin-top: 10%;
}



body{
  background-image: url('./pokBackground.png');
  background-repeat: no-repeat;
  background-size: cover;
}


.vertical-menu{
  height: 100vh;
  width: 75vh;
  position: relative;
  margin: auto;
  background-color: #2c3e50;
  opacity: 90%;
  text-align: center;

}



.title-signup-menu{
    font-size: 75px;
    padding-top: 60px;
    color: #FD7272;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
}

.signup-form{
  display: flex;
  margin-top: 20vh;
  flex-direction: column;
  width: 50%;
 margin-left: auto;
 margin-right: auto;
justify-content: space-around;

}

.signup-form input{
  font-size: 30px;
  padding: 30px;
  background: #FD7272;
  border: white 5px solid;
  margin: 50px;
  border-radius: 20px;
}

.signup-form button{
  font-size: 25px;
  background: white;
  border-radius: 20px;
  margin: 55px;
  cursor: pointer;
}

.signup-form button:hover{
  background-color: #FD7272;
  color: white;
}

.signup-form a{
  color: #FD7272;
  font-size: 20px;
  text-decoration: none;
}

.signup-form a:hover{
text-emphasis: underline;
}

.signup-form input::placeholder{
  color: white;
  font-size: 20px;
}

.icon-signup{
  color: white;
  float: right;
  display: flex;
  font-size: 40px;
  cursor: pointer;
  margin-right: 2%;
  margin-top: 1%;
  padding: 0%;
}


form #signupError{
  color: #eb2f06;
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: none;
}

form #loginError{
  color: #eb2f06 ;
  font-size: 25px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  display: none;
}

.second-bg{
  height: 100vh;
  background: url('./mountain.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#main-box{
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  text-align: center;
}

#second-title{
  font-size: 80px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  color: #192a56;
  font-weight: 900;
}

.main-Nav{
  background-color: white;
 width: 100%;
 height: 9vh;
 opacity: 100%;
}

.main-Nav ul{
  display: flex;
  justify-content: space-around;
  list-style: none; 
  padding: 20px;
}

.main-Nav a{
  font-size: 30px;
  text-decoration: none;
  color: black;
  border: 3px solid black;
  border-radius: 10px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  background: linear-gradient(#ff3f34, #ffffff);
}

.hello-message{
  width: 35%;
  margin: auto;
  text-align: center;
}

#displayUsername{
  font-size: 125px;
  margin-top: 25vh;
  letter-spacing: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 800px;
  color: white;
  border: white solid 15px;
  border-radius: 30px;
  background: grey;
}

.stats-bg{  
  position: absolute;
  width: 100%;
  min-height: 100%;
  height: cover;
  background: linear-gradient(to right, #2c2c54, #cc8e35);
  background-repeat: no-repeat;
  background-size: cover;
}



.pokemonCard{
  font-weight: 700;
  height: 50vh;
  width: 30vh;
  letter-spacing: 3px;
  padding: 10px;
  margin: 50px;
  border-radius: 40px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-shadow: 20px 20px 10px black;
}

.img-container img{
  width: 75%;
  background-color: white;
  border-radius: 50px;
  margin-top: 50px;
}

.pokemonCard .num{
  margin-top: 20px;
  font-size: 30px;
}

.type-card{
  text-align: center;
  font-size: 25px;
  margin-top: 10%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

#pop-up-container{
  display: flex;
  justify-content: center;
}

#pop-up{
  position: fixed;
  width: 28%;
  height: 80vh;
  border-radius: 40px;
  margin: 0 auto;
  margin-top: 5vh;
  z-index: 100;
display: none;
 text-align: center;
}

#icon-pop-up{
  color: white;
  float: right;
  display: flex;
  font-size: 40px;
  cursor: pointer;
  margin-right: 4%;
  margin-top: 3%;
  padding: 0%;
}

#pop-up #pokemonName {
  margin-top: 6vh;
  font-size: 25px;
  letter-spacing: 3px;
}




#pop-up #image-container-card img{
  margin-top: 2vh;
  border-radius: 30px;
  background-color: white;
  width: 45%;
}

#type-card{
  font-size: 25px;
  letter-spacing: 3px ;
  margin-top: 1vh;
  font-weight: 700;
}




#progress-barHolder{
  width: 90%;
  height: 25vh;
  margin: auto;
  margin-top: 2.5vh;
}

#progress-bar1{
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1vh;
}



#bar1{
  border-radius: 20px;
  width: 30vh;
  height: 2vh;
  background-color: #eeeeee;
  opacity: 60%;
  border: 2px solid black;
}

#progress{
  border-radius: 20px;
  width: 50%;
  height: 100%;
  background-color: blue;  
}

#stat{
  font-size: 1.75vh;
  margin-right: 1vh;
  font-weight: 600;
}

#value{
  font-size: 1.75vh;
  margin-left: 1vh;
  font-weight: 600;
}











#progress-bar2{
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1vh;
}

#stat2{
  font-size: 1.75vh;
  margin-right: 1vh;
  font-weight: 600;
  margin-left: -2.5vh;
}


#bar2{
  border-radius: 20px;
  width: 30vh;
  height: 2vh;
  background-color: #eeeeee;
  opacity: 60%;
  border: 2px solid black;
}

#progress2{
  border-radius: 20px;
  width: 60%;
  height: 100%;
  background-color: blue;  
}

#value2{
  font-size: 1.75vh;
  margin-left: 1vh;
  font-weight: 600;
}






#progress-bar3{
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1vh;
}

#stat3{
  font-size: 1.75vh;
  margin-right: 1vh;
  font-weight: 600;
  margin-left: -3vh;
}


#bar3{
  border-radius: 20px;
  width: 30vh;
  height: 2vh;
  background-color: #eeeeee;
  opacity: 60%;
  border: 2px solid black;
}

#progress3{
  border-radius: 20px;
  width: 70%;
  height: 100%;
  background-color: blue;  
}

#value3{
  font-size: 1.75vh;
  margin-left: 1vh;
  font-weight: 600;
}







#progress-bar4{
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1vh;
}

#stat4{
  font-size: 1.75vh;
  margin-right: 1vh;
  font-weight: 600;
  margin-left: -2.5vh;
}


#bar4{
  border-radius: 20px;
  width: 30vh;
  height: 2vh;
  background-color: #eeeeee;
  opacity: 60%;
  border: 2px solid black;
}

#progress4{
  border-radius: 20px;
  width: 80%;
  height: 100%;
  background-color: blue;  
}

#value4{
  font-size: 1.75vh;
  margin-left: 1vh;
  font-weight: 600;
}







#progress-bar5{
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1vh;
}

#stat5{
  font-size: 1.75vh;
  margin-right: 1vh;
  font-weight: 600;
  margin-left: -2.5vh;
}


#bar5{
  border-radius: 20px;
  width: 30vh;
  height: 2vh;
  background-color: #eeeeee;
  opacity: 60%;
  border: 2px solid black;
}

#progress5{
  border-radius: 20px;
  width: 90%;
  height: 100%;
  background-color: blue;  
}

#value5{
  font-size: 1.75vh;
  margin-left: 1vh;
  font-weight: 600;
}










#progress-bar6{
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1vh;
}

#stat6{
  font-size: 1.75vh;
  margin-right: 1vh;
  font-weight: 600;
  margin-left: -1.25vh;
}


#bar6{
  border-radius: 20px;
  width: 30vh;
  height: 2vh;
  background-color: #eeeeee;
  opacity: 60%;
  border: 2px solid black;
}

#progress6{
  border-radius: 20px;
  width: 100%;
  height: 100%;
  background-color: blue;  
}

#value6{
  font-size: 1.75vh;
  margin-left: 1vh;
  font-weight: 600;
}


.counters-bg{
  position: absolute;
  width: 100%;
  min-height: 100%;
  height: cover;
  background: linear-gradient(to right, #ffb8b8, #7158e2);
  background-repeat: no-repeat;
  background-size: cover;

}

#counter-container{
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}

#counterCard-palceholder{
  margin-top: 1vh;
  min-height: 35vh;
  width: 11%;
  background-color: black;
  border-radius: 40px;
  border: 4px solid white;
  cursor: pointer;
}

#text-on-placeholder{
  font-size: 180%;
  color: white;
  margin-top: 30%;
  font-weight: 600;
}


#question-mark{
  font-size: 400%;
  color: white;
  margin-top: 7%;
  font-weight: 600;
}


#loggedOut-bg{
  position: absolute;
  width: 100%;
  min-height: 100%;
  height: cover;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  text-align: center;
}

#loggedOut-bg h1{
  font-size: 80px;
  color: red;
  margin-top: 25vh;
}

#select-card-title{
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 3px;
  font-weight: 900;
  border-bottom: 3px solid white;
  padding-bottom: 20px;
}

#title-select-container{
  margin-top: 2.5vh;
  text-align: center;
  padding-bottom: 9vh;
  display: none;
}

#select-pokemon-close{
  color: white;
  float: right;
  display: flex;
  font-size: 60px;
  cursor: pointer;
  margin-right: 5%;
  margin-top: 1%;

}


#counter-box-container{
  margin-top: 2vh;
  text-align: center;
  display: none;
}

#counter-title-word{
  font-size: 4vh;
  font-weight: 700;
  border: 10px solid white;
  background-color: grey;
  border-left: none ;
  border-right: none ;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#counter-Cards-Container{
  padding-top: 1vh;
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  text-align: center;
}